In [73]:
import execute
import similarity
from utils import database_utils
from utils import geo_utils
from utils import cluster_utils
from pymongo import MongoClient
import logging
import geopandas as gpd
import pandas as pd

In [74]:
import sys
sys.path.append('C:/Users/i.cavalcanti/Progetti_condivisi/clustering_copernicus/Clustering/Kmeans')

In [75]:
import importlib
importlib.reload(execute)
importlib.reload(database_utils)
importlib.reload(geo_utils)
importlib.reload(cluster_utils)
importlib.reload(similarity)

In [ ]:
imported = mongo_handler.MongoHandler().get_mongo_collection(collection)

In [4]:
collections = {'atmosphere_data': False, 'climate_data_old': True}
quarter = {'q1': [f'{i:>02}' for i in range(1, 4)],
           'q2': [f'{i:>02}' for i in range(4, 7)],
           'q3': [f'{i:>02}' for i in range(7, 10)],
           'q4': [f'{i:>02}' for i in range(10, 13)]}

In [5]:
# Import Puglia shapefile:
geo_comuni = gpd.read_file('C:/Users/i.cavalcanti/Progetti/clustering_copernicus/data/coord_comuni_puglia.shp')

In [6]:
# Import collections:
import_client = database_utils.connect_mongodb("10.8.0.89", 40512, "ivan.cavalcanti", "IVoIDnkA48O8J37R")
import_database = 'copernicus_datastore'

In [7]:
year = '2021'

In [8]:
 shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)

C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\.virtualenvs\clustering_copernicus-Ask4ZRwl\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\.virtualenvs\clustering_copernicus-Ask4ZRwl\lib\site-packages\geopandas\geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)
C:\Users\i.cavalcanti\AppData\Local\Temp\ipykernel_16632\657009277.py:1: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  shape_table, collections_features = execute.create_tables(import_client, import_database, collections, year, geo_comuni)

In [9]:
quarter_labeled, n_dates = execute.cluster_quarter(shape_table, collections_features)

In [10]:
col = 'atmosphere_data'

In [12]:
collection_labeled = quarter_labeled[quarter_labeled.collection == col]

In [17]:
collection_labeled.drop('collection', axis=1)

,COMUNE,2021-01-01,2021-01-02,2021-01-03,2021-01-04,2021-01-05,2021-01-06,2021-01-07,2021-01-08,2021-01-09,...,2021-01-22,2021-01-23,2021-01-24,2021-01-25,2021-01-26,2021-01-27,2021-01-28,2021-01-29,2021-01-30,2021-01-31
257,Accadia,0,1,1,3,4,1,1,1,3,...,1,2,0,1,1,3,3,6,9,0
258,Acquaviva delle Fonti,1,1,0,3,13,1,3,1,2,...,0,1,0,1,1,1,1,1,3,0
259,Adelfia,1,1,0,3,13,1,3,1,2,...,0,1,0,1,1,1,1,1,3,0
260,Alberobello,1,0,0,2,3,0,1,0,3,...,0,1,1,1,0,1,1,1,0,0
261,Alberona,0,1,1,3,6,1,1,1,3,...,1,2,0,1,1,3,3,7,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,Villa Castelli,1,0,2,5,3,0,0,0,0,...,0,1,1,2,0,1,0,10,1,0
510,Volturara Appula,0,1,1,3,6,1,1,1,3,...,1,2,0,1,1,3,3,7,9,0
511,Volturino,0,1,1,3,6,1,1,1,3,...,1,2,0,1,1,3,3,7,9,0
512,Zapponeta,1,1,1,3,1,1,1,1,3,...,1,2,0,1,1,2,5,4,7,0
513,Zollino,1,0,3,0,12,0,2,2,1,...,2,0,1,2,0,4,1,2,2,1

In [18]:
collection_labeled = collection_labeled.reset_index(drop=True)

In [19]:
collection_labeled

,COMUNE,collection,2021-01-01,2021-01-02,2021-01-03,2021-01-04,2021-01-05,2021-01-06,2021-01-07,2021-01-08,...,2021-01-22,2021-01-23,2021-01-24,2021-01-25,2021-01-26,2021-01-27,2021-01-28,2021-01-29,2021-01-30,2021-01-31
0,Accadia,atmosphere_data,0,1,1,3,4,1,1,1,...,1,2,0,1,1,3,3,6,9,0
1,Acquaviva delle Fonti,atmosphere_data,1,1,0,3,13,1,3,1,...,0,1,0,1,1,1,1,1,3,0
2,Adelfia,atmosphere_data,1,1,0,3,13,1,3,1,...,0,1,0,1,1,1,1,1,3,0
3,Alberobello,atmosphere_data,1,0,0,2,3,0,1,0,...,0,1,1,1,0,1,1,1,0,0
4,Alberona,atmosphere_data,0,1,1,3,6,1,1,1,...,1,2,0,1,1,3,3,7,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,Villa Castelli,atmosphere_data,1,0,2,5,3,0,0,0,...,0,1,1,2,0,1,0,10,1,0
253,Volturara Appula,atmosphere_data,0,1,1,3,6,1,1,1,...,1,2,0,1,1,3,3,7,9,0
254,Volturino,atmosphere_data,0,1,1,3,6,1,1,1,...,1,2,0,1,1,3,3,7,9,0
255,Zapponeta,atmosphere_data,1,1,1,3,1,1,1,1,...,1,2,0,1,1,2,5,4,7,0
256,Zollino,atmosphere_data,1,0,3,0,12,0,2,2,...,2,0,1,2,0,4,1,2,2,1

In [20]:
cities = list(collection_labeled.COMUNE.unique())

In [21]:
cities

['Accadia',
 'Acquaviva delle Fonti',
 'Adelfia',
 'Alberobello',
 'Alberona',
 'Alessano',
 'Alezio',
 'Alliste',
 'Altamura',
 'Andrano',
 'Andria',
 'Anzano di Puglia',
 'Apricena',
 'Aradeo',
 'Arnesano',
 'Ascoli Satriano',
 'Avetrana',
 'Bagnolo del Salento',
 'Bari',
 'Barletta',
 'Biccari',
 'Binetto',
 'Bisceglie',
 'Bitetto',
 'Bitonto',
 'Bitritto',
 'Botrugno',
 'Bovino',
 'Brindisi',
 'Cagnano Varano',
 'Calimera',
 'Campi Salentina',
 'Candela',
 'Cannole',
 'Canosa di Puglia',
 'Caprarica di Lecce',
 'Capurso',
 'Carapelle',
 'Carlantino',
 'Carmiano',
 'Carosino',
 'Carovigno',
 'Carpignano Salentino',
 'Carpino',
 'Casalnuovo Monterotaro',
 'Casalvecchio di Puglia',
 'Casamassima',
 'Casarano',
 'Cassano delle Murge',
 'Castellana Grotte',
 'Castellaneta',
 'Castelluccio Valmaggiore',
 'Castelluccio dei Sauri',
 'Castelnuovo della Daunia',
 'Castri di Lecce',
 "Castrignano de' Greci",
 'Castrignano del Capo',
 'Castro',
 'Cavallino',
 'Ceglie Messapica',
 'Celenza Valfortore',
 'Cellamare',
 'Celle di San Vito',
 'Cellino San Marco',
 'Cerignola',
 'Chieuti',
 'Cisternino',
 'Collepasso',
 'Conversano',
 'Copertino',
 'Corato',
 "Corigliano d'Otranto",
 'Corsano',
 'Crispiano',
 'Cursi',
 'Cutrofiano',
 'Deliceto',
 'Diso',
 'Erchie',
 'Faeto',
 'Faggiano',
 'Fasano',
 'Foggia',
 'Fragagnano',
 'Francavilla Fontana',
 'Gagliano del Capo',
 'Galatina',
 'Galatone',
 'Gallipoli',
 'Ginosa',
 'Gioia del Colle',
 'Giovinazzo',
 'Giuggianello',
 'Giurdignano',
 'Gravina in Puglia',
 'Grottaglie',
 'Grumo Appula',
 'Guagnano',
 'Ischitella',
 'Isole Tremiti',
 'Laterza',
 'Latiano',
 'Lecce',
 'Leporano',
 'Lequile',
 'Lesina',
 'Leverano',
 'Lizzanello',
 'Lizzano',
 'Locorotondo',
 'Lucera',
 'Maglie',
 'Manduria',
 'Manfredonia',
 'Margherita di Savoia',
 'Martano',
 'Martignano',
 'Martina Franca',
 'Maruggio',
 'Massafra',
 'Matino',
 'Mattinata',
 'Melendugno',
 'Melissano',
 'Melpignano',
 'Mesagne',
 'Miggiano',
 'Minervino Murge',
 'Minervino di Lecce',
 'Modugno',
 'Mola di Bari',
 'Molfetta',
 'Monopoli',
 "Monte Sant'Angelo",
 'Monteiasi',
 'Monteleone di Puglia',
 'Montemesola',
 'Monteparano',
 'Monteroni di Lecce',
 'Montesano Salentino',
 'Morciano di Leuca',
 'Motta Montecorvino',
 'Mottola',
 'Muro Leccese',
 'NardÃ²',
 'Neviano',
 'Noci',
 'Nociglia',
 'Noicattaro',
 'Novoli',
 'Ordona',
 'Oria',
 'Orsara di Puglia',
 'Orta Nova',
 'Ortelle',
 'Ostuni',
 'Otranto',
 'Palagianello',
 'Palagiano',
 'Palmariggi',
 'Palo del Colle',
 'Panni',
 'Parabita',
 'PatÃ¹',
 'Peschici',
 'Pietramontecorvino',
 'Poggiardo',
 'Poggio Imperiale',
 'Poggiorsini',
 'Polignano a Mare',
 'Porto Cesareo',
 'Presicce-Acquarica',
 'Pulsano',
 'Putignano',
 'Racale',
 'Rignano Garganico',
 'Roccaforzata',
 "Rocchetta Sant'Antonio",
 'Rodi Garganico',
 'Roseto Valfortore',
 'Ruffano',
 'Rutigliano',
 'Ruvo di Puglia',
 'Salice Salentino',
 'Salve',
 'Sammichele di Bari',
 'San Cassiano',
 'San Cesario di Lecce',
 'San Donaci',
 'San Donato di Lecce',
 'San Ferdinando di Puglia',
 'San Giorgio Ionico',
 'San Giovanni Rotondo',
 'San Marco in Lamis',
 'San Marco la Catola',
 'San Marzano di San Giuseppe',
 'San Michele Salentino',
 'San Nicandro Garganico',
 'San Pancrazio Salentino',
 'San Paolo di Civitate',
 'San Pietro Vernotico',
 'San Pietro in Lama',
 'San Severo',
 'San Vito dei Normanni',
 'Sanarica',
 'Sannicandro di Bari',
 'Sannicola',
 "Sant'Agata di Puglia",
 'Santa Cesarea Terme',
 'Santeramo in Colle',
 'Sava',
 'Scorrano',
 'SeclÃ¬',
 'Serracapriola',
 'Sogliano Cavour',
 'Soleto',
 'Specchia',
 'Spinazzola',
 'Spongano',
 'Squinzano',
 'Statte',
 'Sternatia',
 'Stornara',
 'Stornarella',
 'Supersano',
 'Surano',
 'Surbo',
 'Taranto',
 'Taurisano',
 'Taviano',
 'Terlizzi',
 'Tiggiano',
 'Torchiarolo',
 'Toritto',
 'Torre Santa Susanna',
 'Torremaggiore',
 'Torricella',
 'Trani',
 'Trepuzzi',
 'Tricase',
 'Triggiano',
 'Trinitapoli',
 'Troia',
 'Tuglie',
 'Turi',
 'Ugento',
 'Uggiano la Chiesa',
 'Valenzano',
 'Veglie',
 'Vernole',
 'Vico del Gargano',
 'Vieste',
 'Villa Castelli',
 'Volturara Appula',
 'Volturino',
 'Zapponeta',
 'Zollino']

In [26]:
similarity_dict = similarity.similar_cities_dict(collection_labeled)

In [48]:
city = cities[1]

In [49]:
city

'Acquaviva delle Fonti'

In [50]:
city_dict = similarity_dict[city]

In [51]:
city_freq = pd.DataFrame.from_dict(city_dict, orient='index')

In [52]:
city_freq

                   0
Accadia           14
Adelfia           32
Alberobello       17
Alberona          14
Alessano           2
...               ..
Villa Castelli    11
Volturara Appula  14
Volturino         14
Zapponeta         16
Zollino            5

[256 rows x 1 columns]

In [53]:
city_freq['COMUNE'] = city_freq.index

In [54]:
city_freq

                   0            COMUNE
Accadia           14           Accadia
Adelfia           32           Adelfia
Alberobello       17       Alberobello
Alberona          14          Alberona
Alessano           2          Alessano
...               ..               ...
Villa Castelli    11    Villa Castelli
Volturara Appula  14  Volturara Appula
Volturino         14         Volturino
Zapponeta         16         Zapponeta
Zollino            5           Zollino

[256 rows x 2 columns]

In [55]:
city_freq['COMUNE'] = city_freq['COMUNE'].str.replace(' ', '_')

In [56]:
city_freq

                   0            COMUNE
Accadia           14           Accadia
Adelfia           32           Adelfia
Alberobello       17       Alberobello
Alberona          14          Alberona
Alessano           2          Alessano
...               ..               ...
Villa Castelli    11    Villa_Castelli
Volturara Appula  14  Volturara_Appula
Volturino         14         Volturino
Zapponeta         16         Zapponeta
Zollino            5           Zollino

[256 rows x 2 columns]

In [57]:
city_freq['perc_sim'] = round((city_freq[0] / n_dates) * 100, 2)

In [58]:
city_freq

                   0            COMUNE  perc_sim
Accadia           14           Accadia     45.16
Adelfia           32           Adelfia    103.23
Alberobello       17       Alberobello     54.84
Alberona          14          Alberona     45.16
Alessano           2          Alessano      6.45
...               ..               ...       ...
Villa Castelli    11    Villa_Castelli     35.48
Volturara Appula  14  Volturara_Appula     45.16
Volturino         14         Volturino     45.16
Zapponeta         16         Zapponeta     51.61
Zollino            5           Zollino     16.13

[256 rows x 3 columns]

In [59]:
city_freq = city_freq.drop(0, axis=1)

In [60]:
city_freq

                            COMUNE  perc_sim
Accadia                    Accadia     45.16
Adelfia                    Adelfia    103.23
Alberobello            Alberobello     54.84
Alberona                  Alberona     45.16
Alessano                  Alessano      6.45
...                            ...       ...
Villa Castelli      Villa_Castelli     35.48
Volturara Appula  Volturara_Appula     45.16
Volturino                Volturino     45.16
Zapponeta                Zapponeta     51.61
Zollino                    Zollino     16.13

[256 rows x 2 columns]

In [61]:
city_freq.reset_index(inplace=True)

In [62]:
city_freq

                index            COMUNE  perc_sim
0             Accadia           Accadia     45.16
1             Adelfia           Adelfia    103.23
2         Alberobello       Alberobello     54.84
3            Alberona          Alberona     45.16
4            Alessano          Alessano      6.45
..                ...               ...       ...
251    Villa Castelli    Villa_Castelli     35.48
252  Volturara Appula  Volturara_Appula     45.16
253         Volturino         Volturino     45.16
254         Zapponeta         Zapponeta     51.61
255           Zollino           Zollino     16.13

[256 rows x 3 columns]

In [63]:
city_freq = city_freq.iloc[:, 1:]

In [64]:
city_freq['ref_COMUNE'] = city.replace(' ', '_')

In [66]:
city_freq['city'] = city_freq[['COMUNE', 'ref_COMUNE']].agg('_'.join, axis=1)

In [67]:
city_freq

,COMUNE,perc_sim,ref_COMUNE,city
0,Accadia,45.16,Acquaviva_delle_Fonti,Accadia_Acquaviva_delle_Fonti
1,Adelfia,103.23,Acquaviva_delle_Fonti,Adelfia_Acquaviva_delle_Fonti
2,Alberobello,54.84,Acquaviva_delle_Fonti,Alberobello_Acquaviva_delle_Fonti
3,Alberona,45.16,Acquaviva_delle_Fonti,Alberona_Acquaviva_delle_Fonti
4,Alessano,6.45,Acquaviva_delle_Fonti,Alessano_Acquaviva_delle_Fonti
...,...,...,...,...
251,Villa_Castelli,35.48,Acquaviva_delle_Fonti,Villa_Castelli_Acquaviva_delle_Fonti
252,Volturara_Appula,45.16,Acquaviva_delle_Fonti,Volturara_Appula_Acquaviva_delle_Fonti
253,Volturino,45.16,Acquaviva_delle_Fonti,Volturino_Acquaviva_delle_Fonti
254,Zapponeta,51.61,Acquaviva_delle_Fonti,Zapponeta_Acquaviva_delle_Fonti
255,Zollino,16.13,Acquaviva_delle_Fonti,Zollino_Acquaviva_delle_Fonti

In [76]:
collection_freq = execute.frequency_collection(collection_labeled, n_dates)

In [79]:
q = 'q1'

In [77]:
collection_freq

                    COMUNE  perc_sim ref_COMUNE                           city
0    Acquaviva_delle_Fonti     45.16    Accadia  Acquaviva_delle_Fonti_Accadia
1                  Adelfia     45.16    Accadia                Adelfia_Accadia
2              Alberobello     29.03    Accadia            Alberobello_Accadia
3                 Alberona     93.55    Accadia               Alberona_Accadia
4                 Alessano      9.68    Accadia               Alessano_Accadia
..                     ...       ...        ...                            ...
251                 Vieste     19.35    Zollino                 Vieste_Zollino
252         Villa_Castelli     35.48    Zollino         Villa_Castelli_Zollino
253       Volturara_Appula      6.45    Zollino       Volturara_Appula_Zollino
254              Volturino      6.45    Zollino              Volturino_Zollino
255              Zapponeta      9.68    Zollino              Zapponeta_Zollino

[65792 rows x 4 columns]

In [81]:
collection_freq['ref_collection'] = col
collection_freq['ref_quarter'] = q
collection_freq['ref_year'] = year
collection_freq['_id'] = collection_freq[['city', 'ref_collection', 'ref_quarter',
                                              'ref_year']].agg('_'.join, axis=1)

In [82]:
collection_freq

,COMUNE,perc_sim,ref_COMUNE,city,ref_collection,ref_quarter,ref_year,_id
0,Acquaviva_delle_Fonti,45.16,Accadia,Acquaviva_delle_Fonti_Accadia,atmosphere_data,q1,2021,Acquaviva_delle_Fonti_Accadia_atmosphere_data_...
1,Adelfia,45.16,Accadia,Adelfia_Accadia,atmosphere_data,q1,2021,Adelfia_Accadia_atmosphere_data_q1_2021
2,Alberobello,29.03,Accadia,Alberobello_Accadia,atmosphere_data,q1,2021,Alberobello_Accadia_atmosphere_data_q1_2021
3,Alberona,93.55,Accadia,Alberona_Accadia,atmosphere_data,q1,2021,Alberona_Accadia_atmosphere_data_q1_2021
4,Alessano,9.68,Accadia,Alessano_Accadia,atmosphere_data,q1,2021,Alessano_Accadia_atmosphere_data_q1_2021
...,...,...,...,...,...,...,...,...
251,Vieste,19.35,Zollino,Vieste_Zollino,atmosphere_data,q1,2021,Vieste_Zollino_atmosphere_data_q1_2021
252,Villa_Castelli,35.48,Zollino,Villa_Castelli_Zollino,atmosphere_data,q1,2021,Villa_Castelli_Zollino_atmosphere_data_q1_2021
253,Volturara_Appula,6.45,Zollino,Volturara_Appula_Zollino,atmosphere_data,q1,2021,Volturara_Appula_Zollino_atmosphere_data_q1_2021
254,Volturino,6.45,Zollino,Volturino_Zollino,atmosphere_data,q1,2021,Volturino_Zollino_atmosphere_data_q1_2021
255,Zapponeta,9.68,Zollino,Zapponeta_Zollino,atmosphere_data,q1,2021,Zapponeta_Zollino_atmosphere_data_q1_2021

In [85]:
collection_freq = collection_freq.drop('city', axis=1)

In [86]:
collection_freq

,COMUNE,perc_sim,ref_COMUNE,ref_collection,ref_quarter,ref_year,_id
0,Acquaviva_delle_Fonti,45.16,Accadia,atmosphere_data,q1,2021,Acquaviva_delle_Fonti_Accadia_atmosphere_data_...
1,Adelfia,45.16,Accadia,atmosphere_data,q1,2021,Adelfia_Accadia_atmosphere_data_q1_2021
2,Alberobello,29.03,Accadia,atmosphere_data,q1,2021,Alberobello_Accadia_atmosphere_data_q1_2021
3,Alberona,93.55,Accadia,atmosphere_data,q1,2021,Alberona_Accadia_atmosphere_data_q1_2021
4,Alessano,9.68,Accadia,atmosphere_data,q1,2021,Alessano_Accadia_atmosphere_data_q1_2021
...,...,...,...,...,...,...,...
251,Vieste,19.35,Zollino,atmosphere_data,q1,2021,Vieste_Zollino_atmosphere_data_q1_2021
252,Villa_Castelli,35.48,Zollino,atmosphere_data,q1,2021,Villa_Castelli_Zollino_atmosphere_data_q1_2021
253,Volturara_Appula,6.45,Zollino,atmosphere_data,q1,2021,Volturara_Appula_Zollino_atmosphere_data_q1_2021
254,Volturino,6.45,Zollino,atmosphere_data,q1,2021,Volturino_Zollino_atmosphere_data_q1_2021
255,Zapponeta,9.68,Zollino,atmosphere_data,q1,2021,Zapponeta_Zollino_atmosphere_data_q1_2021

In [87]:
frequency_dict = collection_freq.to_dict('records')

In [ ]:
export_client = MongoClient('mongodb://localhost:27017')['copernicus_similarity_comuni_puglia']['test']